<template>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <nuxt-link to="/" class="nav-link">Nuxt JS</nuxt-link>
                <div style="width: 200px;">              </div>
                <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 dark">
                    <li class="nav-item">
                        <nuxt-link to="/" exact active-class="active" class="nav-link">Home</nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link to="/users" active-class="active" class="nav-link">Users</nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link to="/about" active-class="active" class="nav-link">About</nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link to="/login" active-class="active" class="nav-link">Login</nuxt-link>
                    </li>
                </ul>
            
                </div>
            </div>
        </nav>
    </header>
</template>