<template>
  <div class="container">
    <nuxt />
  </div>
</template>

<script>
export default {

}
</script>

<style>
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
</style>