<template>
  <section>
    <h1>Error 404</h1>
    <nuxt-link :to="'/'">Home</nuxt-link>
  </section>
</template>

<script>
export default {

}
</script>

<style scoped>
section{
    text-align: center;
    margin-top: 50px;
}
h1{
    color: red;
}
</style>