<template>
  <form>
    <h2>Login</h2>
    <div class="form-group">
        <input type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <input type="password" class="form-control">
    </div>
    <br>
    <nuxt-link to="/">Home</nuxt-link>
    <br>
    <button class="btn btn-primary">Login</button>
  </form>
</template>

<script>
export default {
    layout: 'empty'
}
</script>

<style scoped>
form{
    text-align: center;
}
button{
    margin-top: 15px;
}
</style>